//npm.pkg.github.com/:_authToken=e94dcb258b20ca304452cf8203a51f80da06fbee
registry=https://npm.pkg.github.com/nickjohngray

# npm login --registry=https://npm.pkg.github.com
# Username: nickjohngray
# Password: e94dcb258b20ca304452cf8203a51f80da06fbee
# Email: nickjohngray@gmail.com
# npm install @nickjohngray/blockout@1.0.28
