.to_pages_button {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.pages_container {
    align-items: center;
    background: repeating-linear-gradient(45deg, #0000002b, transparent 100px);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.input-message {
    margin-left: 5px;
    position: absolute;
}

.tick {
    margin-left: 5px;
}

.pages {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: scroll;
    padding: 20px;
}

.page {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.page-and-button-controls {
    display: flex;
    min-width: 200px;
}

.page-name {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.page-button-movers {
    padding-left: 10px;
    padding-right: 10px;
}

.page-button-movers-placeholder {
    align-items: flex-start;
    border-image: initial;
    border-style: outset;
    border-width: 2px;
    box-sizing: border-box;
    cursor: default;
    display: inline-block;
    font: 400 13.3333px sans-serif, Arial;
    letter-spacing: normal;
    margin: 0;
    min-width: 29px;
    opacity: 0;
    padding: 1px 6px;
    text-align: center;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
    -webkit-writing-mode: horizontal-tb !important;
}
