/* Remove default bullets */
ul,
.tree_group {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nested .tree_group {
    border: 1px;
    border-left: 1px solid #e4e4e4;
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-top: 5px;
}

/* hides the nested list */
.nested {
    display: none;
}

/* Show the nested list */
.active {
    display: block;
}

.editable_label_in_view_mode {
    display: inline;
}
