
.ie-row {
    background-color: black;
    border: 1px solid deepskyblue;

    /*  flex-direction: row; */
}

.ie-row .editable_label_value_rich_text {
    display: initial;
}

.nested-row .social-icons {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nested-row a.social-icon {
    color: red;
    padding: 10px;
    white-space: nowrap;
}

.nested-row a.social-icon > span {
    margin-left: 12px;
}

.ie-row .react-pdf__Document {
    margin: auto;

    /* todo allow editor to set these styles */
    overflow: auto;
    width: 50%;
}

/* .ie-col {
    display: flex;
    flex-direction: column;
} */

.rteContainer a {
    color: #108db8;
    text-decoration: none;
}

.rteContainer h1 {
    color: rgba(0, 236, 85, 0.81);
    font-family: impact, serif;

    /* text-align: center; */
}

.rteContainer h2 {
    color: white;
    display: block;
    font-family: CoreSans, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;

    /*  text-align: center; */
}

.w-page {
    background-color: #000 !important;

    /* -webkit-box-pack: center; */
    color: #fff !important;

    /* display: -ms-flexbox; */
    display: block;

    /* -ms-flex-direction: column; */

    /* flex-direction: column;
    -ms-flex-pack: center; */
    font-size: 20px !important;

    /*  justify-content: space-around; */
    width: 100%;
}

.w-center-it {
    /*   display: flex;
    text-align: center; */
}

.w-center-text {
    /* text-align: center; */
}

.rteContainer .center-div {
    margin: auto;
    width: 50%;
}

.rteContainer .center-div-content {
    /*    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center; */
}
