.image {
    height: 100px;
    width: 100px;
}

.file_upload_button {
    display: none;
}

.lazy-load-image {
    cursor: pointer;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::after {
    color: #00000038;
    content: '+';
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::after {
    content: '-';
}
