.node {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

.node::after {
    color: #d41515;
    content: '+';
    display: inline-block;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.node::after:hover {
    color: green;
}

.node-down::after {
    content: '-';
    font-size: 20px;
}

/* moves the leaf beside the node for an editable node */
.node .leaf {
    display: inline;
}
