.rteContainer {
    background-color: white;
    border: 1px solid #00008b33;
    border-top: none;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.rteToolbar {
    background-color: #556f72;
    border-radius: 0;
    padding: 0;

    /*   this will join the toolbar with the rteEditable */

    /*  margin-bottom: -18px */
}


.rteEditable {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}
