.manin-container {
    margin-top: 0;
}

.app_name {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 5px;
}

header {
    align-items: center;
    background: #acacac66;
    background: repeating-linear-gradient(10deg, #000, #c32c2c 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    width: 100%;
}

.debug {
    color: blue !important;
}

.undo_redo_save_container {
    align-items: initial;
    cursor: col-resize;
    display: flex;
    padding: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 50%;
}

nav a {
    color: white;
}

nav a:hover {
    color: yellowgreen;
}

.link-active {
    color: #ff0423;
}

.help_toggler {
    bottom: 0;
    position: fixed;
}

button {
    color: white;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

button:active {
    background-color: #ff0423;
    color: black;
}
