.manin-container {
    margin-top: 0;
}

header {
    align-items: center;
    background: #000000d6;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.debug {
    color: blue !important;
}

.undo_redo_save_container {
    background: #000000d6;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 50%;
}

nav a {
    color: white;
}

nav a:hover {
    color: yellowgreen;
}

.link-active {
    color: #ff0423;
}

.help_toggler {
    bottom: 0;
    position: fixed;
}
